<h2 class="section-title">Professional Profile</h2>
<div class="row g-4 justify-content-between">
  <div class="col-md-6 align-content-center">
    <p class="lead" style="color: var(--ocean-blue)">
      Full-Stack Solutions from Silicon to Software
    </p>
    <p>
      With a dual-degree background from the University of Ottawa, I bring a
      unique perspective to embedded systems, combining the rigorous circuit
      analysis of Electrical Engineering with the algorithmic efficiency of
      Computer Science.
    </p>
    <p class="lead" style="color: var(--ocean-blue)">
      Creative Direction & Visual Arts
    </p>
    <p>
      A dedicated focus on visual storytelling, character development, and
      world-building. I specialize in creating cohesive designs that capture
      narrative depth and aesthetic appeal.
    </p>
    <p class="lead" style="color: var(--ocean-blue)">Interests & Hobbies</p>
    <div class="d-flex flex-wrap gap-3">
    <div class="d-flex flex-wrap gap-2">
        <span
          class="badge rounded-pill p-2 px-3"
          style="background-color: var(--ocean-blue)"
          >Gaming</span
        >
      </div>
    </div>
  </div>
    <img
      src="./images/profile.png"
      alt="Profile Picture"
      class="img-fluid rounded"
      style="max-width: 25rem"
    />
  </div>
</div>
