<h2 class="section-title">Professional Profile</h2>
<div class="row g-4 justify-content-between">
  <div class="col-md-6 align-content-center">
    <p class="lead" style="color: var(--ocean-blue)">
      Full-Stack Solutions from Silicon to Software
    </p>
    <p>
      With a dual-degree background from the University of Ottawa, I bring a
      unique perspective to embedded systems...
    </p>
    <p class="lead" style="color: var(--ocean-blue)">
      Creative Direction & Visual Arts
    </p>
    <p>
      A dedicated focus on visual storytelling, character development, and
      world-building.
    </p>
  </div>
  <img
    src="./images/profile.png"
    alt="Profile Picture"
    class="img-fluid rounded"
    style="max-width: 20rem"
  />
</div>
