<div class="d-flex justify-content-center gap-3 mb-2">
  <a
    href="https://www.instagram.com/sketchesbyannaelle/"
    target="_blank"
    style="color: var(--sky-blue)"
    ><i class="fa-brands fa-instagram"></i
  ></a>
  <a
    href="https://www.linkedin.com/in/alison-emilien/"
    target="_blank"
    style="color: var(--sky-blue)"
    ><i class="fa-brands fa-linkedin"></i
  ></a>
  <a href="mailto:aemil072@uottawa.ca" style="color: var(--sky-blue)"
    ><i class="fa-solid fa-envelope"></i
  ></a>
</div>
<div>&copy; 2026 Alison Emilien. All rights reserved.</div>
