<video
  autoplay
  muted
  loop
  playsinline
  preload="auto"
  id="background-video"
  class="position-absolute w-100 h-100 object-fit-cover"
>
  <source src="components/Background.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<div class="container text-center text-md-start">
  <h3 style="color: var(--ocean-blue)">#include &lt;iostream&gt;</h3>
  <h3 class="display-3 fw-bold" style="color: var(--ocean-blue)">
    cout &lt;&lt;
    <span style="color: var(--steel-blue)">"Hello World! I'm Alison"</span>;
  </h3>
  <p class="lead mb-4" style="color: var(--sky-blue)">
    Electrical and Computer Engineering Graduate : May 2026
  </p>
  <a
    href="./resume/Alison_Emilien_Resume_Hardware.pdf"
    class="btn btn-primary btn-lg px-4"
    target="_blank"
    >Hardware Resume</a
  >
  <a
    href="./resume/Alison_Emilien_Resume_Software.pdf"
    class="btn btn-primary btn-lg px-4 ms-3"
    target="_blank"
    >Software Resume</a
  >
</div>
