<div data-project-tag="Software" class="project-card-container">
  <div class="card h-100 border-0 shadow-sm project-card">
    <div class="card-body d-flex flex-column p-4">
      <div class="mb-2">
        <span class="badge bg-light text-primary border border-primary"
          >Software</span
        >
      </div>
      <h5 class="card-title fw-bold" style="color: var(--ocean-blue)">
        4N0M4LY - AI Hardware assistant
      </h5>
      <p class="card-text text-muted flex-grow-1">
          <ul class ="mt-2 gap-1">
            <li>
                4N0M4LY is a cloud-accessible IDE that integrates Verilog design, AI-driven code analysis, and real-time waveform visualization into a single web-based workspace.
            </li>
            <li>
                The system utilizes a hybrid architecture that connects a Gradio frontend on Hugging Face to a local MacBook backend via Cloudflare Tunnels for remote Icarus Verilog and Cocotb execution.
            </li>
            <li>
                The project successfully automates the hardware verification loop, enabling seamless remote simulation and logic-level debugging for digital components.
            </li>
          </ul>
      </p>
      <div class="mt-3">
        <!-- TODO: Add GitHub link when available -->
        <!-- <a href="#" class="btn btn-sm btn-outline-dark px-3">View on GitHub</a> -->
        <a
          href="#"
          class="btn btn-sm btn-outline-secondary px-3 ms-2"
          data-bs-toggle="modal"
          data-bs-target="#inProgressModal"
          >In Progress</a
        >
      </div>
    </div>
  </div>
</div>
